@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #18a058;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
